.btn {
  display: flex;
  padding: 10px 20px;
  user-select: none;

  color: $color-tangaroa;

  background-color: $color-alice-blue;
  border: none;
  cursor: pointer;

  transition: opacity $trans-default;

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }

  &:focus-visible {
    outline: 1px solid $color-alice-blue;
    outline-offset: 2px;
  }

  &:active {
    opacity: 0.5;
  }
}
