.footer {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 48px;
  background-color: $color-tangaroa;

  @include vp-1023 {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  @include vp-767 {
    padding-top: 30px;
    padding-bottom: 35px;
  }
}

.footer__container {
  display: flex;
  align-items: center;

  @include vp-767 {
    flex-direction: column;
    align-items: flex-start;
  }
}

.footer__logo {
  margin-right: 40px;

  @include vp-1023 {
    margin-right: 25px;
  }

  @include vp-767 {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.footer__social {
  margin-left: auto;
  margin-right: -10px;

  @include vp-1023 {
    margin-right: -7px;
  }

  @include vp-767 {
    margin-left: -11.5px;
  }
}

.footer__nav {
  margin-right: 50px;

  @include vp-1023 {
    margin-right: 0;
  }

  @include vp-767 {
    margin-bottom: 20px;
  }
}

.footer__nav ul {
  justify-content: flex-start;

  @include vp-767 {
    flex-direction: column;
    align-items: flex-start;
  }
}

.footer__nav a {
  @include vp-1023 {
    @include fonts(12px, 15px, 500, $color-alice-blue);
  }

  @include vp-767 {
    padding: 0;
  }
}
