.logo__link {
  display: flex;
  flex: none;
  width: 100%;
  height: 100%;
  color: $color-alice-blue;
}

.logo__link svg {
  fill: currentColor;

  @include vp-1023 {
    width: 38px;
  }

  @include vp-767 {
    width: 42px;
  }
}
