.social {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 6px;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @include vp-1023 {
    gap: 8px;
  }

  @include vp-767 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.social__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;

  @include vp-1023 {
    width: 30px;
    height: 30px;
  }
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: $color-alice-blue;
  transition: opacity $trans-default;

  @include hover-focus {
    opacity: 0.8;
  }

  &:focus-visible {
    outline: 1px solid $color-alice-blue;
    outline-offset: 2px;
  }

  &:active {
    opacity: 0.5;
  }
}

.social__link svg {
  fill: currentColor;

  @include vp-1023 {
    width: auto;
    height: 16px;
  }
}
